@page
@model Volusion.Razor.Website.Pages.Forms.Create_UserModel
@{
}

<h1>Create User</h1>

<form method="post">
    <input id="FirstName" type="text" />
    <input id="LastName" type="text" />
    <input id="EmailAddress" type="text" />
    <button type="submit">Submit</button>
</form>
