body {
    font-family: Verdana, Arial;
    font-size: 12px;
    margin: 0;
    padding: 0;
    color: #282828;
    line-height: 1.7;
}

#div-header, #div-site-menu, #span-header-label, #form-main {
    display: none;
    text-align: center;
}

#div-site-menu {
    padding: 10px;
    border-bottom: solid 1px #808080;
    text-align: center;
    padding-bottom: 25px;
    margin-bottom: 25px;
}

select {
    border: solid 1px #808080;
    border-radius: 5px;
    background-color: transparent;
    padding: 3px;
}

#form-main
{
    position: relative;
    top: 5px;
}

#div-merchant-details-container {
    border-bottom: solid 1px #808080;
    padding: 15px;
    margin-bottom: 15px;
}

#div-guidance
{
    border: solid 0px #ff0000;
    padding-bottom: 10px;
}

.span-merchant-details {
    border-right: solid 1px #808080;
    margin-right: 10px;
    padding-right: 10px;
}

#display_homepage_title {
    text-align: center;
}

#div-page-container {
    border: solid 0px #ff0000;
    padding: 25px;
}

label {
    font-weight: bold;
}

a, a:visited {
    color: #221b43;
    text-decoration: none;
}

a.a-menu-item {
    font-weight: bold;
    border-right: solid 1px #808080;
    padding-right: 15px;
    margin-right: 15px;
}

#span-header-label {
    position: relative;
    top: 0px !important;
    font-weight: bold !important;
    font-size: 14px;
}

#volusion-logo {
    height: 25px;
    width: auto;
    margin: 15px;
}

#div-version-switch-panel-ribbon {
    text-align: center;
    border: solid 1px #808080;
    padding-top: 15px;
}

#div-version-switch-panel-ribbon, #div-version-switch-panel {
    background-color: #ccc;
    padding: 10px;
    height: auto !important;
}

#div-version-switch-panel {
    display: none;
    margin-bottom: 25px;
    border-bottom: solid 1px #808080;
}

.div-switch-panel-item {
    border-top: dashed 0px #ff0000 !important;
    padding: 10px;
}

#span-tenant-info-container, #span-migration-info-container {
    display: none;
}

.div-switch-panel-item {
    border-top: dashed 0px #ff0000;
    padding: 10px;
}

input {
    background-color: #c0c0c0;
    padding-left: 10px;
    border: solid 1px #808080;
    border-radius: 5px !important;
}

#span-repository-type {
    color: #ff0000;
}

.span-option-item {
    padding-left: 15px;
    padding-right: 15px;
    border: solid 0px #ff0000 !important;
}

.span-item-detail {
    border-right: solid 1px #808080;
    margin-right: 15px;
    padding-right: 15px;
}

#div-system-messages {
    border-top: solid 1px #808080;
    padding: 15px;
    display: none;
}

#div-button-container {
    border: solid 0px #ff0000 !important;
    text-align: center;
    margin-bottom: 25px;
}

.button {
    position: relative;
    top: 15px;
    padding: 10px !important;
    background-color: #221b43 !important;
    border: solid 1px #221b43;
    color: #ffffff !important;
    font-style: normal;
    font-size: 14px;
}

.button:hover {
    background-color: #0594ac !important;
    border: solid 1px #0594ac;
    cursor: pointer;
}

#div-progress-bar-container {
    margin-top: 15px;
    width: 100%;
    text-align: center;
    color: #ffffff;
    background-color: #221b43 !important;
    height: 20px !important;
}

#div-progress-bar-detail {
    background-color: #0594ac !important;
    color: #ffffff;
    width: 25%;
    height: 100% !important;
    font-size: 11px;
    padding-top: 0px;
}