h1 {
    font-size: 18px !important;
    padding-left: 10px;
}

#span-header-label {
    position: relative;
    top: 3px !important;
    color: #221b43;
}

#volusion-logo
{
    height: 25px;
    width: auto;
}

#div-version-switch-panel-ribbon
{
    text-align: center;
    border: solid 1px #808080;
}

#div-version-switch-panel-ribbon, #div-version-switch-panel {
    background-color: #ccc;
    padding: 10px;
    height: auto !important;
}

#div-version-switch-panel
{
    display: none;
}

#span-tenant-info-container, #span-migration-info-container {
    display: none;
}

.div-switch-panel-item {
    border-top: dashed 0px #ff0000;
    padding: 10px;
}

input {
    background-color: #c0c0c0;
    padding-left: 10px;
    border: solid 1px #808080;
    border-radius: 5px !important;
}

#span-repository-type
{
    color: #ff0000;
}

.span-option-item {
    padding-left: 15px;
    padding-right: 15px;
    border: solid 0px #ff0000 !important;
}

.span-item-detail {
    border-right: dashed 1px #808080;
    margin-right: 15px;
    padding-right: 15px;
}

#div-system-messages {
    border-top: solid 1px #808080;
    padding: 15px;
    display: none;
}

#div-button-container {
    border: solid 0px #ff0000 !important;
    text-align: center;
    margin-bottom: 25px;
}

.button {
    position: relative;
    top: 15px;
    padding-left: 15px !important;
    padding-bottom: 30px !important;
    background-color: #221b43 !important;
    color: #ffffff !important;
    font-style: normal;
    font-size: 14px;
}

.button:hover {
    background-color: #0594ac !important;
}

#div-progress-bar-container {
    margin-top: 15px;
    width: 100%;
    text-align: center;
    color: #ffffff;
    background-color: #221b43 !important;
    height: 15px !important;
}

#div-progress-bar-detail {
    background-color: #0594ac !important;
    color: #ffffff;
    width: 25%;
    height: 100% !important;
    font-size: 8px;
}