@media only screen and (max-width: 767px) { .text-xs-left { text-align: left; }
  .text-xs-right { text-align: right; }
  .text-xs-center { text-align: center; } }

@media only screen and (min-width: 768px) and (max-width: 991px) { .text-sm-left { text-align: left; }
  .text-sm-right { text-align: right; }
  .text-sm-center { text-align: center; } }

@media only screen and (min-width: 992px) and (max-width: 1199px) { .text-md-left { text-align: left; }
  .text-md-right { text-align: right; }
  .text-md-center { text-align: center; } }

@media only screen and (min-width: 1200px) { .text-lg-left { text-align: left; }
  .text-lg-right { text-align: right; }
  .text-lg-center { text-align: center; } }

@font-face { font-family: "button-icons"; font-style: normal; font-weight: normal; src: url("../fonts/buttons/button-icons.eot?#iefix") format("embedded-opentype"), url("../fonts/buttons/button-icons.woff") format("woff"), url("../fonts/buttons/button-icons.ttf") format("truetype"), url("../fonts/buttons/button-icons.svg#button-icons") format("svg"); }

.btn-icon { font-family: 'button-icons'; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; margin-right: 5px; }

.btn-icon:hover { text-decoration: none; }

.btn-icon-apply:before { content: "\e600"; }

.btn-icon-close:before { content: "\e601"; }

.btn-icon-email:before { content: "\e602"; }

.btn-icon-photos:before { content: "\e603"; }

.btn-icon-plus:before { content: "\e604"; }

.btn-icon-question:before { content: "\e605"; }

.btn-icon-zoom:before { content: "\e608"; }

.btn-icon-recalculate:before { content: "\e606"; }

.btn-icon-warning:before { content: "\e610"; }

.icon-star:before { font-family: 'button-icons' !important; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; margin: 0 !important; }

.icon-star-empty:before { content: "\e611"; }

.icon-star-half:before { content: "\e612"; }

.icon-star-full:before { content: "\e613"; }

.icon-free-shipping:before { content: "\e614"; font-family: 'button-icons' !important; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; margin: 0 !important; width: auto !important; }

.cartDiv, .cartDiv2 { display: inline; }

.soft_add_content_shadow { width: auto; max-height: 500px; padding: 35px 0 0; overflow-y: auto; background: #fff; -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); border-radius: 5px; }

.soft_add_header { width: auto; padding: 0; border: 0; background: white; }

.soft_add_header_shadow { position: absolute; top: 0; left: 0; padding: 0; width: 100%; }

.soft_add_header .soft_add_span { font-size: 0; }

.soft_add_header .soft_add_span:before { content: "Items in Cart"; display: inline-block; margin-left: -25px; padding-top: 10px; left: 0; font-size: 16px; }

.soft_add_content_area { padding: 15px; width: auto; max-height: 250px; overflow: auto; border-top: 1px solid white; border-bottom: 1px solid white; background: none; }

.soft_add_content_wrapper { padding: 0; width: auto; border: none; background: none; }

.soft_add_wrapper { position: fixed; min-width: 265px; max-width: -webkit-calc(100% - 30px); max-width: calc(100% - 30px); max-height: 400px !important; z-index: 1100; top: 50% !important; left: 0 !important; right: 0 !important; bottom: auto !important; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); margin: auto !important; padding: 0; line-height: initial; font-family: inherit; font-weight: normal; color: #000; }

@media only screen and (min-width: 768px) { .soft_add_wrapper { max-width: 400px; } }

@media only screen and (min-width: 992px) { .soft_add_wrapper { min-width: 400px; top: 15% !important; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); } }

.ie8 .soft_add_wrapper { border: 1px solid white; }

.soft_add_wrapper .cart_table .icon { width: auto; height: auto; }

.soft_add_wrapper ul.anchored-cart { display: table; width: 100%; padding: 0; margin: 0; list-style: none; border-collapse: collapse; }

.soft_add_wrapper li { display: table-row; width: auto; margin: 0; overflow: hidden; vertical-align: middle; text-align: left; }

.soft_add_wrapper li.product-row:not(:last-child) { border-bottom: 1px solid white; }

.soft_add_wrapper li img { max-width: 55px !important; }

@-webkit-keyframes recently-added-fadeout { 0% { background-color: rgba(0, 0, 0, 0.1); }
  80% { background-color: rgba(0, 0, 0, 0.1); }
  100% { background-color: transparent; } }

@keyframes recently-added-fadeout { 0% { background-color: rgba(0, 0, 0, 0.1); }
  80% { background-color: rgba(0, 0, 0, 0.1); }
  100% { background-color: transparent; } }

.soft_add_wrapper li.recently-added { -webkit-animation-name: recently-added-fadeout; animation-name: recently-added-fadeout; -webkit-animation-duration: 2s; animation-duration: 2s; background-color: transparent; }

.soft_add_wrapper li div { font-size: 12px; width: 100%; }

.soft_add_wrapper .product-row * { font-size: 14px; line-height: 1.428571429; }

.soft_add_wrapper .product-image { display: table-cell; width: 55px; padding: 10px 4px 10px 10px; }

.soft_add_wrapper .product-detail { display: table-cell; padding: 10px 5px; vertical-align: top; }

.soft_add_wrapper .product-name { display: block; }

.soft_add_wrapper .product-name a { color: #000; font-size: 12px; font-weight: bold; word-break: break-word; }

@media only screen and (min-width: 992px) { .soft_add_wrapper .product-name a { font-size: 14px; } }

.soft_add_wrapper .product-options a { color: #000; font-size: 12px; font-weight: normal; word-break: break-all; pointer-events: none; }

.soft_add_wrapper .product-qty, .soft_add_wrapper .product-qty .quantity_text { display: block; color: #000; }

.soft_add_wrapper .product-qty .quantity_text { display: inline; }

.soft_add_wrapper .product-price { display: table-cell; padding: 8px 8px 10px 0; vertical-align: middle; text-align: right; color: #000; font-size: 14px; }

.soft_add_wrapper .product-remove { display: table-cell; vertical-align: middle; padding-right: 5px; }

.soft_add_wrapper .product-remove .aremove { background: none; margin-left: 15px; font-size: 0; text-indent: unset; color: #000; }

.soft_add_wrapper .product-remove .aremove:before { display: table-cell; content: "\e601"; font-family: button-icons; speak: none; font-style: normal; font-weight: normal; font-size: 16px; text-transform: none; line-height: 1; font-variant: normal normal; }

.soft_add_wrapper .soft_add_sub_total { padding: 4px 20px 0; height: 24px; background: none; }

.soft_add_wrapper .sub_total { color: #000; font-size: 12px; }

.soft_add_wrapper span.sub_total_amount { color: #000; font-size: 14px; }

.soft_add_wrapper .soft_add_action_area { clear: both; height: auto; overflow: hidden; padding: 15px; position: relative; border-top: none; background: none; }

.soft_add_wrapper .check_out, .soft_add_wrapper .continue_shopping { overflow: hidden; position: static; display: inline-block; width: 48%; float: right; height: 45px; margin: 0 auto; padding: 1px 20px 0; border: 1px solid #373735; border-radius: 28px; line-height: 43px; font-family: "Chivo", sans-serif, "google"; font-size: 14px; font-weight: normal; background: white; color: #373735; text-align: center; text-indent: 0; text-decoration: none; }

.soft_add_wrapper .check_out:hover, .soft_add_wrapper .continue_shopping:hover { background-color: #e6e6e6; border-color: #181817; color: #373735; text-decoration: none; }

.soft_add_wrapper .continue_shopping { float: left; padding: 0 10px; background: #666; border-color: #666; text-transform: capitalize; }

.soft_add_wrapper .continue_shopping:hover { background-color: #4d4d4d; border-color: #474747; }

.soft_add_wrapper .close_btn, .soft_add_wrapper .close_btn:link, .soft_add_wrapper .close_btn:visited, .soft_add_wrapper .close_btn:focus, .soft_add_wrapper .close_btn:hover, .soft_add_wrapper .close_btn:active { background: none; z-index: 200; text-indent: initial; font-size: 0; top: 8px; right: 12px; }

.soft_add_wrapper .close_btn { color: white; }

.soft_add_wrapper .close_btn:hover { color: #cccccc; }

.soft_add_wrapper .close_btn:before { content: "\e609"; display: inline-block; font-size: 16px; font-family: 'button-icons'; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; }

/* MOBILE STYLINGS */
/* the soft add to cart hides after a couple seconds unless your cursor hovers over it;
mobile devices do not have a cursor, carts with several items could become frustrating to view
shows: only the name, picture, and text "added to cart" of item which was added; hides: details, price, and remove link*/
@media only screen and (max-width: 991px) { .touch-device .soft_add { /* cart title */ }
  .touch-device .soft_add_span:before { content: "Cart" !important; }
  .touch-device .soft_add_content_area { min-height: auto; /* hide all products without .recently-added class */ }
  .touch-device .soft_add_content_area li:not(.recently-added) { display: none; border: none; }
  .touch-device .soft_add_content_area li.recently-added { display: block; background: white; }
  .touch-device .soft_add_content_area li .product-detail, .touch-device .soft_add_content_area li .product-price, .touch-device .soft_add_content_area li .product-remove { display: none; }
  .touch-device .soft_add_content_area li .product-image { display: block; width: 100%; padding: 0; }
  .touch-device .soft_add_content_area li .product-image:after { content: "Added to Cart"; font-size: 14px; font-weight: bold; margin-left: 20px; }
  .touch-device .soft_add_wrapper .check_out, .touch-device .soft_add_wrapper .continue_shopping { font-size: 14px; } }

/* Text Logo Styling goes here */
meta[itemprop="name"] + a { word-break: break-word; display: block; text-decoration: none; }

/* Graphic Logo Styling goes here */
meta[itemprop="name"] + a:not(#homepage_title) { background-image: url("../images/template/header_bg.png"); font-size: 0; background-size: 0; }

meta[itemprop="name"] + a:not(#homepage_title) img { max-height: 100%; margin-right: auto; margin-left: auto; }

/* Asssume no left nav until JS verifies */
html:not(.has-sidebar) .sidebar-wrapper, html:not(.category) .sidebar-wrapper { display: none; }

html:not(.has-sidebar) .content_area-wrapper, html:not(.category) .content_area-wrapper { width: 100%; }

.microblock-group .microblock { display: inline-block; }

.btn-link input { margin: 0 !important; }

.sticky-header, .header { position: relative; z-index: 3; }

.container--content { position: relative; z-index: 2; }

.footer { position: relative; z-index: 1; }

.home .v-product-grid { padding-right: 0; padding-left: 0; }

.home .v-product-grid .v-product { margin-left: -5px; }

@media only screen and (min-width: 481px) and (max-width: 991px) { .home .v-product-grid .v-product { width: 50%; } }

.home .v-product-grid .v-product:first-child { margin-left: 0; }

.menu-title { padding-top: 0; padding-bottom: 0; }

.menu-title:not(:first-child) { margin-top: 20px; }

.sidebar #display_menu_s li > a, .sidebar .vnav--level1 > .vnav__item > .vnav__link { border-bottom-width: 1px; border-bottom-style: solid; }

.main-menu .vnav--level1 > .vnav__item > .vnav__link { border-bottom-width: 3px; }

.main-menu .vnav--level1 > .vnav__item > .vnav__link:hover { text-decoration: none; }

.push-menu .vnav__link:hover { text-decoration: none; }

@media only screen and (max-width: 991px) { .page-wrap:after { z-index: 10; } }

@media only screen and (min-width: 992px) and (max-width: 1199px) { #content_area #table_checkout_cart0 { width: 100%; } }

@media only screen and (min-width: 1200px) { #content_area #table_checkout_cart0 { width: 100%; } }

.category .v-product-grid .v-product, .productdetails .v-product-grid .v-product { text-align: left; }

.productdetails span#Header_ProductDetail_ProductDetails_span, .productdetails span#Header_ProductDetail_TechSpecs_span, .productdetails span#Header_ProductDetail_ExtInfo_span, .productdetails td#Header_ProductDetail_ProductDetails.vCSS_tab_unselected span#Header_ProductDetail_ProductDetails_span, .productdetails td#Header_ProductDetail_TechSpecs.vCSS_tab_unselected span#Header_ProductDetail_TechSpecs_span, .productdetails td#Header_ProductDetail_ExtInfo.vCSS_tab_unselected span#Header_ProductDetail_ExtInfo_span { margin-bottom: -1px; }

#vSlider .owl-nav .btn-prev, #vSlider .owl-nav .btn-next { padding: 6px; width: 25px; height: 40px; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); margin-top: 0; }

@media only screen and (min-width: 768px) { #vSlider .owl-nav .btn-prev, #vSlider .owl-nav .btn-next { padding: 12px; width: 45px; height: 70px; } }

#vSlider .owl-nav .btn-prev svg, #vSlider .owl-nav .btn-next svg { width: 100%; height: 100%; max-width: none; max-height: none; }

#vSlider .owl-nav .btn-prev { left: 0; }

#vSlider .owl-nav .btn-next { right: 0; left: auto; }

.dealoftheday #content_area .deal { margin: 0; padding: 15px; }

.dealoftheday #content_area .deal .deal-image img { max-width: 100%; }

.dealoftheday #content_area .deal .deal-pricing { float: left; width: 100%; height: auto; padding: 15px; }

.dealoftheday #content_area .deal .deal-pricing .deal-price { margin: 0; padding-left: 0; }

.dealoftheday #content_area .deal .deal-pricing .deal-price-currency { margin-left: 0; }

.dealoftheday #content_area .deal .deal-pricing .deal-buy-now { max-width: 100%; margin: 0; }

.dealoftheday #content_area .deal .deal-buy-now a, .dealoftheday #content_area .deal .deal .deal-image img { width: auto; max-width: 100%; }

.dealoftheday #content_area .deal .deal-end, .dealoftheday #content_area .deal .deal-saving-stock-details, .dealoftheday #content_area .deal .deal-social { float: left; width: 100%; height: auto; }

.dealoftheday #content_area .deal .deal-regular-price, .dealoftheday #content_area .deal .deal-savings, .dealoftheday #content_area .deal .deal-stock { padding-bottom: 15px; }

.dealoftheday #content_area .deal .deal-social #btn_vsharethis, .dealoftheday #content_area .deal .deal-social .google_plusone_iframe_widget { width: auto !important; }

.dealoftheday #content_area .deal .deal-social .google_plusone_iframe_widget { margin-right: 5px; }

/* Responsive code for Top Sellers, Super Deal, and New Products sections */
.home #content_area > table > tbody > tr > td[width="1%"] { display: none; }

.home #content_area > table > tbody > tr > td[width="96%"], .home #content_area > table > tbody > tr > td[width="2%"] { float: left; padding-right: 15px; padding-left: 15px; }

.home #content_area > table > tbody > tr > td[width="96%"] { width: 100%; }

@media only screen and (min-width: 992px) { .home #content_area > table > tbody > tr > td[width="96%"] { width: 75%; } }

.home #content_area > table > tbody > tr > td[width="2%"] { display: none; }

@media only screen and (min-width: 992px) { .home #content_area > table > tbody > tr > td[width="2%"] { display: block; width: 25%; } }

.home #content_area > table > tbody > tr > td[width="2%"] table, .home #content_area > table > tbody > tr > td[width="2%"] tbody, .home #content_area > table > tbody > tr > td[width="2%"] tr, .home #content_area > table > tbody > tr > td[width="2%"] td { display: block; width: 100%; height: auto; }

.home #content_area > table > tbody > tr > td[width="2%"] img[src*="/v/vspfiles/photos/"] { margin-left: 0; }

.home #content_area > table > tbody > tr > td[width="2%"] img[src*="clear1x1.gif"], .home #content_area > table > tbody > tr > td[width="2%"] img[src*="clear1x1.gif"] + br, .home #content_area > table > tbody > tr > td[width="2%"] img[src*="FBox_Border_Bottom.gif"] { display: none; }

.home #content_area > table > tbody > tr > td[width="2%"] td.colors_background1 { font-size: 1.3em; background-image: none; }

.home #content_area > table > tbody > tr > td[width="2%"] td.v65-productDetailInfo > div > br, .home #content_area > table > tbody > tr > td[width="2%"] td.v65-productDetailInfo > div > a.smalltext.colors_text { display: none; }

/* Responsive admin controlled slideshow text for mobile. */
#vSlider .owl-text-overlay { font-family: inherit; }

#vSlider .owl-text-overlay .owl-banner-text, #vSlider .owl-text-overlay .owl-banner-sub-text { color: inherit; text-shadow: 0 0 15px rgba(0, 0, 0, 0.3); }

@media only screen and (max-width: 767px) { #vSlider .owl-text-overlay { width: 100%; padding: 0 15px; }
  #vSlider .owl-text-overlay .owl-banner-text, #vSlider .owl-text-overlay .owl-banner-sub-text { font-size: 7vw; line-height: 7vw; margin-top: 1vw; margin-bottom: 1vw; display: block; }
  #vSlider .owl-text-overlay .owl-banner-sub-text { font-size: 5vw; line-height: 5vw; }
  #vSlider .owl-text-overlay .owl-banner-button-text { display: inline-block; } }

.home .v-product-grid { padding: 15px; margin-right: auto; margin-left: auto; }

@media only screen and (min-width: 768px) { .home .v-product-grid { max-width: 750px; } }

@media only screen and (min-width: 992px) { .home .v-product-grid { max-width: 970px; } }

@media only screen and (min-width: 1200px) { .home .v-product-grid { max-width: 1170px; } }

#fpslider { padding: 15px 25px 30px; }

@media only screen and (min-width: 768px) { #fpslider { padding-right: 45px; padding-left: 45px; } }

#fpslider .owl-item { padding: 5px; }

#content_area #fpslider .owl-item .image img { max-height: 300px; width: auto; margin-right: auto; margin-left: auto; }

#fpslider .owl-nav .arrow-prev, #fpslider .owl-nav .arrow-next { padding: 5px; width: 25px; height: 40px; font-size: 15px; line-height: 30px; text-align: center; cursor: pointer; }

@media only screen and (min-width: 768px) { #fpslider .owl-nav .arrow-prev, #fpslider .owl-nav .arrow-next { padding: 9px; width: 45px; height: 72px; font-size: 27px; line-height: 54px; } }

#fpslider .owl-nav .arrow-prev { right: 100%; left: auto; }

#fpslider .owl-nav .arrow-next { left: 100%; right: auto; }

#fpslider .owl-dots .owl-dot span { cursor: pointer; }

@media (min-width: 1230px) { .container { width: 1200px; } }
